* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    background: rgb(39,0,89);
    background: linear-gradient(331deg, rgba(39,0,89,1) 0%, rgba(132,0,255,1) 49%, rgba(4,188,207,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}